{
  "common": {
    "interface": "eth0",
    "runs": 1
  },
  "arp": {
    "resolvers": {
        "10.0.0.1": "12:34:56:78:90:ab"
    }
  },
  "dhcp": {
    "servers": [
      "12:34:56:78:90:ab"
    ],
    "dhcp_ranges": [
      "10.0.0.0/24"
    ],
    "gateways": [
      "10.0.0.1"
    ],
    "dns_servers": [
      "10.0.0.1",
      "8.8.8.8"
    ]
  }
}
